.btn,
 .jumbotron,
 .nav :hover {
     border-radius: 0px;
 }
 /* cart badge */
 .cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: #000;
}

.image-img {
    min-height: 100px;
}


 /**
  * jumbotron animation
  */
 
  .jumbotron {
    height: 180px;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* body { 
  text-align: center; 
}  */

/* h2 { 
  color: green; 
}  */

.gallery { 
  margin: 10px 40px; 
} 

.gallery img { 
  width: 200px; 
  height: 50px; 
  transition: 1s; 
  padding: 5px; 
} 

.gallery img:hover { 
  filter: drop-shadow(4px 4px 6px gray); 
  transform: scale(1.1); 
} 

.dropzone {
  text-align: center;
  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
}

.zoom {
    
    transition: transform .2s; /* Animation */
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  
  /* black shade form 10-1 */
.black-10 {
  background: #f2f2f2;
}
.black-9 {
  background: #e6e6e6;
}
.black-8 {
  background: #d9d9d9;
}
.black-7 {
  background: #cccccc;
}
.black-6 {
  background: #bfbfbf;
}
.black-5 {
  background: #b3b3b3;
}